
/* Body gets image by going up one directory. Using flex box to create sticky header and footer */
body{
    background-image: url("../images/intersection.png");
    display: flex;
    flex-direction: column;
    height:100vh;
} 

/* Line break in the main content boxes */
hr{
    color:#ccc;
    width:90%;
}

/* Header uses flex box to keep name (.logo) and nav bar (.menu-bar) on separate ends of view screen. */

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* Allows the header to grow and shrink as needed */
    flex: 1 0 auto;
    border-bottom: 2px solid #ccc;
    width:100%;
    /* keeps content below from bunching to close to the header */
    margin-bottom: 70px; 
    background-color:#fff;
    /* Keeps header spacing from the top of the view screen. */
    padding-top: 30px;
}

/* Name section at the top left of every web-page */
.logo{
    color:#fff;
    background-color:#4aaaa5;
    padding:30px;
    /* sets the name section on the bottom edge of the header. */
    align-self: flex-end;
    margin-left:-15%;
}

/* Navigation links container that uses flex box to create spacing between links. */
.menu-bar{
    margin-bottom: 35px;
    width: 200px;
    display:flex;
    justify-content: space-around;
}

/* Font sizing for the navigation bar. */
.nav-links{
    font-size:13px;
}

/* A class to create the lines between the nav-links using borders */

.borders{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    padding-left:15px;
    padding-right:15px;
}

/* Sets the color of the link and gets rid of the underline. */
a:link{
    color: #777777;
    text-decoration: none;
}

/* Sets the color of a visited link and gets rid of the underline. */
a:visited{
    color: #777777;
    text-decoration: none;
}

/* Hovering over a link will cause the background to be highlighted. */
a:hover{
    background-color: #E89F0C;
}

button:hover{
    background-color:#E89F0C;
    font-size:16px;
}

/* font and sizing for h1. The important flag is in case an h1 tag ends up in a div tag with a class with a different font. */
h1{
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    padding: 10px;
    font-size: 20px;
    margin-left:20px;
}

/* The flex section allows for the sticky footer and header. The display flex sets the section and the aside to the left. */
.main-content{
    margin-left:80px;
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
}

/* The parameters for all of the sections, except the portfolio page, which has its own class. */
section{
    background-color: #fff;
    width:45%;
    margin-bottom: 5%;
    padding:20px;
    overflow:auto;
    border:2px solid #ddd;
}

img{
    margin: 5%;
}

p{
    margin-top:5px;
    padding: 10px;
    font-size: 15px;
}

/* Font for non-heading text */
.normal-text{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

/* Class for the main content section on the portfolio page so the images are side by side */

.portfolio{
    display:flex;
    flex-flow: row wrap;
    width: 50%;
    margin-left:0;
}

/* The formatting for the input fields in the form on the contact page */

input{
    width: 90%;
    margin-left:10px;
    height:25px;
    margin-top:-20px;
    border:1px solid #ddd;
}

/* formatting for submit button on contact me page */

button{
    background-color:#4aaaa5;
    margin:10px;
    padding:10px;
    color:#fff;
    border-radius: 15%;
}

/* Formatting to make the message section of the form larger */

#bigger-box{
    height:150px;
}

/* formatting for the container for the connect to me social media section */
aside{
    background-color: #fff;
    width: 20%;
    margin-bottom: 5%;
    padding:20px;
    margin-left: 120px;
    height: 120px;
    border:2px solid #ddd;
}

/* class for the icon container. */
.icon{
    display:flex;
    justify-content:space-around;
    margin-right:10%;
}

/* Container for image and text section of portfolio links on portfolio page. */

.container1{
    position:relative;
    width:275px;
    margin: 10px;
}

/* The aside for the portfolio page so it is not so far to the right because the portfolio is bigger. */

#portfolio-aside{
    position: absolute;
    right:190px;
}

/* class for the portfolio image resizing */

.portfolio-image{
    width:275px;
    height:200px;
}

/* class for the portfolio text-boxes */

.portfolio-text{
    position:absolute;
    width:96%;
    height:40px;
    margin:10px;
    background-color: #4aaaa5;
    color:#fff;
    text-align: center;
    bottom: 20px;
    line-height:40px;
}

/* design for the footer */

footer{
    flex-shrink: 0;    
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #666;
    height:15%;
    color: #ccc;
    font-size: 11px;
    width:100%;
    border-top: 10px solid #4aaaa5;
}

/* changes to view screen with a max-width of 980px */
@media screen and (max-width:980px){
   .main-content{
       justify-content: space-around;
   }
   
    .logo{
        margin-left:0;
    }
    
    section{
        width:30%;
    }

    .portfolio{
        margin-left:0;
    }

    #portfolio-aside{
        position:relative;
        right:0;
    }

    aside{
        margin-left:0;
        height:150px;
        width:30%;
    }

  #profile-pic{
      width:90%;
  }

  #contact-form{
      width:50%;
      margin-left:0;
  }

  #contact-navbar{
    margin-left:10%;
  }
}

@media screen and (max-width:768px){
    
    .main-content{
        justify-content: center;
        flex-direction: column;
    }
    
     .logo{
         margin-left:0;
     }
     
     section{
         width:80%;
     }

     .container1{
         width:40%;
         margin:20px;
     }
 
     .portfolio-image{
         width:100%;
         height:100%;
     }

     .portfolio-text{
         bottom:1%;
         left:-5%;
     }

     .portfolio{
         margin-left:0;
         width:80%;
     }
 
     #portfolio-aside{
         position:relative;
         right:0;
     }
 
     aside{
         margin-left:0;
         height:150px;
         width:80%;
     }
 
   #profile-pic{
       width:30%;
   }

   .icon{
       justify-content: flex-start;
   }
 
   #contact-form{
       width:85%;
   }

   #contact-aside{
       width:85%;
   }

}

@media screen and (max-width:640px){
    
    header{
        position:static;
        flex-direction:column;
        padding-top:0;
    }

    .logo{
        margin-left:0;
        width:100%;
        text-align:center;
    }

    .menu-bar{
        width:100%;
        padding-top: 20px;
        margin-bottom:20px;
    }

    .borders{
        border:1px solid #fff;
    }

    .main-content{
        justify-content: flex-start;
        flex-direction: column;
    }
     
     section{
         width:100%;
         margin-left:-50px;
     }

     .container1{
         width:80%;
         margin:20px;
     }
 
     .portfolio-image{
         width:100%;
         height:100%;
     }

     .portfolio-text{
         bottom:1%;
         left:0;
         width:100%;
     }

     .portfolio{
         margin-left:-10%;
         width:100%;
         padding-bottom:50px;
     }
 
     #portfolio-aside{
         position:relative;
         right:0;
     }
 
     aside{
         margin-left:-50px;
         height:150px;
         width:100%;
     }
 
   #profile-pic{
       width:90%;
   }

   .icon{
       justify-content: flex-start;
   }
 
   #contact-form{
       width:100%;
   }

   #contact-aside{
       width:100%;
   }

}




